<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openproject.member.dao.MemberDAOInterface">

    <insert id="insert" parameterType="com.openproject.member.model.MemberVO"
    useGeneratedKeys="true" keyProperty="idx">
        insert into memberinfo (userId, userpwd, username, userphoto)
        values (#{userId}, #{userPwd}, #{userName}, #{userPhoto})
    </insert>
    <select id="select" resultType="com.openproject.member.model.MemberVO">
        select * from memberinfo where userId = #{userId}
    </select>
    <select id="selectAll" resultType="com.openproject.member.model.MemberVO" >
        select * from memberinfo
    </select>
    <delete id="delete">
        delete from memberinfo where userid=#{id}
    </delete>
    <update id="update" parameterType="com.openproject.member.model.MemberVO">
        update memberinfo set userpwd=#{userPwd},userName=#{userName},userphoto=#{userPhoto} where userid=#{userId}
    </update>
</mapper>